In [18]:
from heavylight import Table
import pandas as pd
import heavylight
heavylight.__version__

'1.0.9'

In [19]:
xs = [1, 2, 2]
ys = [1, 2, 1]
zs = ['a', 'b', 'c']
vals = [1,2, 3]
df = pd.DataFrame({'xs|int':xs, 'ys|int':ys, 'zs|str':zs, 'vals|float': vals})
Table.rectify(df)

    xs|int  ys|int zs|str  vals|float
0        1       1      a         1.0
1        1       1      b         NaN
2        1       1      c         NaN
3        1       2      a         NaN
4        1       2      b         NaN
5        1       2      c         NaN
6        2       1      a         NaN
7        2       1      b         NaN
8        2       1      c         3.0
9        2       2      a         NaN
10       2       2      b         2.0
11       2       2      c         NaN

This is equivalent to the following:

In [22]:
def unique(in_list):
    out_list = []
    for i in in_list:
        if i not in out_list:
            out_list.append(i)
    return out_list

In [23]:
for x in unique(xs):
    for y in unique(ys):
        for z in unique(zs):
            print(x, y, z)

1 1 a
1 1 b
1 1 c
1 2 a
1 2 b
1 2 c
2 1 a
2 1 b
2 1 c
2 2 a
2 2 b
2 2 c